@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: "Merienda", serif;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

header {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

header ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

header ul li {
  margin: 0 0.5rem;
}

header ul li a {
  color: white;
  text-decoration: none;
}

header select {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  text-decoration: none;
list-style-type: none;
  background-color: #333;
  color: white;
  font-family: "Merienda", serif;
  font-size: 16px

}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  background: url('MAIN_IMAGE.jpg') no-repeat center center;
  position: relative;
  background-size: cover; /* Enlarge and fit the background image for larger screens */
}

.main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.461);
  z-index: 0;
}

.heading-1,
h1 {
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  color: white;
  text-shadow: 1px 1px 2px black;
  text-align: center;
  font-size: 4vw; /* Default font size for larger screens */
  animation: fadeInFromLeft 1s ease-in-out;
}

.word {
  display: flex;
  font-size: 4vw;
  margin: 0 1rem;
}

.letter {
  position: relative;
  opacity: 0;
  animation: slideIn 1s forwards, waterEffect 2s 3s infinite;
  letter-spacing: 1.3rem;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  margin: 0;
  font-size: 1rem;
}

@keyframes slideIn {
  0% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes waterEffect {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.3rem);
  }
}

@keyframes zoomInMobile {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Media query for mobile screens */
@media (max-width: 767px) {
  .heading-1,
  h1 {
    font-size: 30vw !important; /* Increased font size for mobile screens */
    height: 30vw !important; /* Adjust the height as needed */
    line-height: 1.2 !important; /* Adjust the line height as needed */
    animation: zoomInMobile 2s ease-in-out !important;
  }
  
  .main {
    background: url('MAIN_IMAGE_MOBILE.jpg') no-repeat center center !important; /* Separate background image for mobile */
    background-size: cover !important; /* Adjust the background image size for better visibility on mobile screens */
  }
}
